// Color Pallete

$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$light: #f8f9fa;
$dark: #343a40;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;

// Dark mode variables
$dark-m-gray: #161625;
$dark-mid-subtext: #bdb8ae;
$dark-m-white: #e1e1e1;
$dark-m-purple: #7ba1ea;
$dark-m-blue: #3391ff;

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "archia";
  font-size: 24px !important;
  font-weight: 900;
}

h2 {
  font-family: "archia";
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-family: "archia";
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-family: "archia";
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-family: "archia";
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-family: "archia";
  font-size: 11px !important;
  font-weight: 600;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Almighty-Router {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  transition: all 0.25s ease-in-out;
  width: 100%;
}

.arrow-up {
  border-bottom: 5px solid $gray-mid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 0.25rem;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $gray-mid;
  margin-left: 0.25rem;
}

.Navbar {
  display: flex;
  flex-direction: row;
  height: 3.9rem;
  justify-content: space-between;
  padding-bottom: 1rem;

  & > * {
    align-self: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .navbar-left {
    color: $gray;
    cursor: pointer;
    font-family: "archia";
    font-size: 12px;
    font-weight: 600;
    padding: 1.5rem;
  }

  .navbar-middle {
    color: $gray;
    font-family: "archia";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;

    span {
      color: $pblue;
    }
  }

  .navbar-right {
    color: $gray;
    cursor: pointer;
    font-family: "archia";
    font-size: 12px;
    font-weight: 600;
    padding: 1.5rem;
    transition: all 0s ease-in-out;
    width: 2rem;

    &:hover {
      background: $pblue;
      color: #fff;
    }
  }

  .expand {
    background: $gray-light-opaque;
    color: $gray;
    display: flex;
    flex-direction: column;
    font-family: "archia";
    height: 100vh;
    position: absolute;
    top: 3.85rem;
    transform: none;
    width: 100vw;
    z-index: 9999;

    & > * {
      border-bottom: 1px solid $gray-light;
      border-top: 1px solid $gray-light;
      padding: 1.5rem;
      transition: all 0.15s ease-in-out;

      &:hover {
        background: $gray-hover;
      }

      span {
        &.focused {
          background: $pblue-light;
          color: $pblue;
          padding: 0.25rem;
        }
      }
    }

    .expand-bottom {
      align-self: flex-start;
      border: 0;

      &:hover {
        background: none;
      }
    }
  }
}

.Home,
.Achievements,
.Events {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 5rem;
  padding: 2rem;
  overflow: auto;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

    .card {
      flex: 0 1 auto;
      margin: 2rem;
    }
  }
}

.accordion-container {
  display: block;
  width: 100%;
  padding: 2rem;

  .accordions {
    display: block;

    .accordion {
      margin: 1em;
    }
  }

  @media (max-width: 769px) {
    margin-left: unset;
    width: unset;
    padding: 1rem;
  }
}

.button {
  background: $blue-light;
  border: 0;
  border-radius: 5px;
  color: $blue-mid;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "archia";
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  outline: none;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;

  svg {
    padding-right: 6px;
    stroke-width: 2px;
    width: 20px;
  }

  &.is-purple {
    background: $purple-light;
    color: $purple-mid;

    &:hover {
      background: $purple-hover;
    }
  }

  &.is-green {
    background: $green-light;
    color: $green-mid;

    &:hover {
      background: $green-hover;
    }
  }

  &:hover {
    background: $blue-hover;
  }

  & > * {
    align-self: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;

  & > * {
    align-self: center;
    text-align: center;
  }

  h5 {
    color: $gray;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  img {
    height: 2rem;
    width: 2rem;
  }

  .link {
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 30rem;

    a {
      background: $blue-light;
      color: $blue;
      font-family: "archia";
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      transition: background 0.2s ease-in-out;
      word-wrap: break-word;

      &:hover {
        background: $blue-hover;
      }
    }

    h3 {
      color: $gray-dark;
      font-weight: 900;
      margin-bottom: 0;
    }
  }

  .github {
    color: #000 !important;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem 0.25rem;

    &:hover {
      color: #343a40 !important;
    }
  }

  .facebook {
    color: #3b5998 !important;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem 0.25rem;

    &:hover {
      color: #1a3978 !important;
    }
  }

  .instagram {
    color: #C13584 !important;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem 0.25rem;

    &:hover {
      color: #A54090 !important;
    }
  }

  .twitter {
    color: #1da1f2 !important;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem 0.25rem;

    &:hover {
      color: #0a81d1 !important;
    }
  }

  .linkedin {
    color: #0072b1 !important;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem 0.25rem;

    &:hover {
      color: #0052a1 !important;
    }
  }

  .mail {
    color: #e23028 !important;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0.5rem 0.25rem;

    &:hover {
      color: #ff073a99 !important;
    }
  }
}

@media (min-width: 769px) {
  .Navbar {
    background: $gray-light-opaque;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-width: 5rem;
    position: fixed;
    z-index: 99999;

    .navbar-left {
      margin-top: auto;
      order: 3;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      transition: all 0.2s ease-in-out;
      width: 5rem;

      &:hover {
        background: $gray-hover;
      }
    }

    .navbar-middle {
      font-size: 0.6rem;
      order: 1;
      padding-bottom: 2rem;
      padding-top: 2rem;
      text-align: center;
      width: 2.9rem;
      word-wrap: break-word;
    }

    .navbar-right {
      background: $gray-light-opaque;
      display: flex;
      flex-direction: column;
      order: 2;
      padding-bottom: 0;
      padding-top: 0;

      &:hover {
        background: $gray-light-opaque !important;
      }

      & > span {
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        justify-content: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;

        svg {
          stroke: $gray;
        }
      }
    }

    .expand {
      background: $gray-light-opaque;
      border-right: solid 2px $gray-light-opaque;
      flex-direction: column;
      padding-left: 0;
      padding-top: 5.5rem;
      top: 0;
      width: 15rem;
      z-index: -1 !important;

      & > * {
        border: 0;
        border-left: 1px solid $gray-light;
        color: $gray;
        font-weight: 600;
        height: 1.5rem;
        width: 12rem;
      }
    }
  }

  .Home,
  .Achievements,
  .Events {
    padding-top: 5rem;
  }

  .dark-mode {
    .Navbar,
    .expand {
      background: #1e1e30 !important;
    }

    .navbar-right {
      background: #1e1e30 !important;
    }
  }
}

@media (max-width: 769px) {
  table {
    width: calc(100% - 2rem);
  }

  .Home,
  .Achievements,
  .Events {
    display: flex;
    flex-direction: column;
    top: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
  }

  a {
    &.button {
      display: flex;
      flex: 1;
      justify-content: center;
      width: 10rem;

      & > * {
        align-self: center;
      }

      svg {
        width: 38px;
      }
    }
  }

  table {
    td {
      max-width: 6.75rem;
    }
  }

  .cards-container {
    padding: 0.5rem;
    margin-left: unset;

    .cards {
      flex-direction: column;

      .card {

      }
    }
  }

  .Navbar {
    .expand {
      height: calc(100vh - 3.9rem);
      overflow: auto;
      transform: none !important;
    }

    .navbar-right {
      & > span {
        display: none;

        &:first-child {
          display: initial;
        }
      }
    }
  }
}

// Dark Mode

.dark-mode {
  background: #161625 !important;
  color: #bdbdbd;
  transition: background-color 0.2s ease-out !important;

  .switch-wrapper > div {
    background: #161625 !important;
  }

  .expand {
    background: #1e1e30 !important;
  }

  .Navbar,
  .expand {
    border-right: 0;

    .navbar-middle {
      color: #bdbdbd;
    }

    .navbar-right {
      background: #1e1e30 !important;
    }
  }

  table {
    thead {
      background: #1e1e30 !important;
    }

    tbody {
      background: #1e1e30 !important;
    }

    tr {
      background: #1e1e30 !important;
    }

    th {
      background: #1e1e30 !important;
    }
  }

  .button {
    &.github {
      color: #bdbdbd !important;

      svg {
        stroke: #bdbdbd !important;
      }
    }
  }

  .github {
    color: #fff !important;

    &:hover {
      color: #343a40 !important;
    }
  }

  .facebook {
    color: #fff !important;

    &:hover {
      color: #3b5998 !important;
    }
  }

  .instagram {
    color: #fff !important;

    &:hover {
      color: #C13584 !important;
    }
  }

  .twitter {
    color: #fff !important;

    &:hover {
      color: #1da1f2 !important;
    }
  }

  .linkedin {
    color: #fff !important;

    &:hover {
      color: #0072b1 !important;
    }
  }

  .mail {
    color: #fff !important;

    &:hover {
      color: #e23028 !important;
    }
  }

  .accordion {
    background-color: #1e1e30 !important;
  }

  .card {
    background-color: #1e1e30 !important;
  }
}

// Animation Support

.fadeInUp {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotateDownRight {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateDownRight;
}

@keyframes rotateDownRight {
  100% {
    transform: rotate(-90deg);
  }
}

.rotateRightDown {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: rotateRightDown;
}

@keyframes rotateRightDown {
  0% {
    transform: rotate(-90deg);
  }
}

.fadeOutDown {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeOutDown;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
